<nav class="navbar navbar-light bg-primary">
    <div class="container-fluid">
        <h1 style="color: white;">Employee Details</h1>
        <div class="d-flex">
            <button  type="button" data-bs-toggle="modal" data-bs-target="#exampleModal" class="btn btn-success">Add Employee</button>
            
        </div>
    </div>
</nav>

<table class="table mt-3">
    <thead>
        <tr>
            
            <th scope="col">id </th>
            <th scope="col">Name</th>
            <th scope="col">Address</th>
            <th scope="col">Role</th>
            <th scope="col">Dob </th>
            <th scope="col">Mobile no</th>
            <th scope="col">Gender</th>
            <th scope="col">Action</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let row of employeedata">
            <td>{{row.id}}</td>
            <td>{{row.firstName}}</td>
            <td>{{row.address}}</td>
            <td>{{row.role}}</td>
            <td>{{row.Dob}}</td>
            <td>{{row.mobile}}</td>
            <td>{{row.gender}}</td>
            
            
            <button (click)="deleteEmployee(row)" style="background-color: brown; color: beige; margin-left: 10px;">delete</button>
        </tr>
    </tbody>
</table>


<br>




  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Employee details update</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <form [formGroup]="formValue">
                <div class="mb-3">
                  <label for="exampleInputEmail1" class="form-label">first Name</label>
                  <input type="text" formControlName="firstName" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                  <span class="text-danger" *ngIf="formValue.controls['firstName'].dirty && formValue.hasError('required','firstName')">firstName is required</span>
                </div>
                <div class="mb-3">
                  <label for="exampleInputPassword1" class="form-label">Address</label>
                  <input type="textarea" formControlName="address" class="form-control" id="exampleInputPassword1">
                  <span class="text-danger" *ngIf="formValue.controls['address'].dirty && formValue.hasError('required','address')">address is required</span>
                </div>

                <div class="mb-3">
                    <label for="exampleInputPassword1" class="form-label">Role</label>
                    <input type="text" formControlName="role" class="form-control" id="exampleInputPassword1">
                    <span class="text-danger" *ngIf="formValue.controls['role'].dirty && formValue.hasError('required','role')">role is required</span>
                  </div>

                  <div class="mb-3">
                    <label for="exampleInputPassword1" class="form-label">Mobile Number</label>
                    <input type="text" formControlName="mobile" class="form-control" id="exampleInputPassword1">
                    <span class="text-danger" *ngIf="formValue.controls['mobile'].dirty && formValue.hasError('required','mobile')">mobile no is required</span>
                  </div>

                  <div class="mb-3">
                    <label for="exampleInputPassword1" class="form-label">DoB</label>
                    <input type="date" formControlName="Dob" class="form-control" id="exampleInputPassword1">
                    <span class="text-danger" *ngIf="formValue.controls['Dob'].dirty && formValue.hasError('required','Dob')">Dob is required</span>
                  </div>

                    
                  
              </form>
        </div>
      <div class="modal-footer">
          <button type="button" id="cancel" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" [disabled]="!formValue.valid" (click)="postEmployeeDetails()" class="btn btn-primary">Add</button>
          <button type="button" (click)="updateEmployeeDetails()" class="btn btn-primary">update</button>

      </div>
    